{% load static %}
<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
		<meta name="author" content="Kristin Yim">

		<title>FundTh</title>
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo.png' %}" />

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'css/style.css'%}">

	</head>
	<body>
		
		<p>Main </p>
		{% if jason_is_dumb %}
			<p> Jason is dumb </p>
		{% endif %}
      	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>
